[Unit]
Description=QtService Test Service Socket
Documentation=https://github.com/Skycoder42/QtService
After=network.target
PartOf=testservice.service

[Socket]
ListenStream=15843
#ListenStream=/run/user/1000/testservice/terminal.socket

[Install]
WantedBy=sockets.target
