[Unit]
Description=QtService Test Service
Documentation=https://github.com/Skycoder42/QtService
After=network-online.target testservice.socket

[Service]
Type=notify
NotifyAccess=exec
Environment=LD_LIBRARY_PATH=%{LD_LIBRARY_PATH}
Environment=QT_PLUGIN_PATH=%{QT_PLUGIN_PATH}
ExecStart=%{TESTSERVICE_PATH} -platform minimal --backend systemd
ExecReload=%{TESTSERVICE_PATH} -platform minimal --backend systemd reload $MAINPID
ExecStop=%{TESTSERVICE_PATH} -platform minimal --backend systemd stop $MAINPID
Restart=on-abnormal
RuntimeDirectory=testservice

[Install]
WantedBy=default.target
