[Unit]
Description=QtService Example Echo Service
Documentation=https://github.com/Skycoder42/QtService
After=network-online.target echoservice.socket

[Service]
Type=notify
NotifyAccess=exec
ExecStart=/path/to/echoservice -platform minimal --backend systemd
ExecReload=/path/to/echoservice -platform minimal --backend systemd reload $MAINPID
ExecStop=/path/to/echoservice -platform minimal --backend systemd stop $MAINPID
WatchdogSec=10
Restart=on-abnormal
RuntimeDirectory=echoservice

[Install]
#WantedBy=multi-user.target
WantedBy=default.target
